
<% if(success != '') { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>

  <% if(failure != '') { %>
    <div class="alert alert-danger" role="alert">
      <%= failure%>
    </div>
  <% } %>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    
    <div class="col-lg-6">
        <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="hero image">
    </div>

    <div class="col-lg-6">

        <h1 class="display-5 fw-bold mb-3">
            <% if(user){ %>
            <b>Hello </b><span style="color: red;"><%= user.username.toUpperCase() %></span>
            <% } %>
                
            
            Explore Huge selection of delicious recipe ideas</h1>
        <p class="lead">
            Explore our huge selection of delicious recipe ideas including Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Molestias animi dolor obcaecati vel omnis quasi accusamus suscipit id, itaque laudantium?
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn  btn-explore btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/explore-random" class="btn  btn-random btn-lg px-4 me-md-2">Show Random</a>
        </div>

    </div>

</div>


<!-- categories section -->

<div class="row">
    <% if(categories!= ''){ %>
    <% categories.forEach(category=>{ %>
   
    <div class="card col-lg-2 category-card">
        <a href="/categories/<%- category.name %>" class="latest-link">
        <img src="img/<%- category.image %>" class="card-img-top category-img" alt="<%- category.name %>">
        <div class="card-body">
            <p class="card-text"><%- category.name %></p>
        </div>
    </a>
    </div>

    <% }) %>
<% }%>


    <div class="card col-lg-2 category-card">
        <a href="/categories" class="latest-link">
        <img src="img/view-all.jpg" class="card-img-top category-img" alt="...">
        <div class="card-body">
            <p class="card-text">View All</p>
        </div>
    </a>
    </div>

</div>

<!-- categories end -->

<!-- latest section -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/explore-latest" class="ms-auto latest-link">View More</a>
    </div>

    <div class="row">


        <% if(food!=''){ %>
            <% food.latest.forEach(recipe=>{ %>
        <div class="card col-lg-2 category-card" style="width: 14rem; padding: 10px;">
            <a href="/recipe/<%= recipe._id %>" class="latest-link">
                <img src="/uploads/<%= recipe.image %>" class="card-img-top latest-img--large" alt="recipe.name">
                <div class="card-body">
                    <p class="card-text"><%= recipe.name %></p>
                </div>
            </a>
        </div>
        <% }) %>
        <% } else {%>
            <p>No items found</p>
            <% } %>
    </div>
</section>

<!-- thai section -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Thai Recipes</h2>
        <a href="/categories/Thai" class="ms-auto latest-link">View More</a>
    </div>

    <div class="row">


        <% if(typeof food.thai!='undefined' && food.thai.length>0){ %>
            <% food.thai.forEach(recipe=>{ %>
        <div class="card col-lg-2 category-card" style="width: 14rem; padding: 10px;">
            <a href="/recipe/<%= recipe._id %>" class="latest-link">
                <img src="/uploads/<%= recipe.image %>" class="card-img-top latest-img--large" alt="recipe.name">
                <div class="card-body">
                    <p class="card-text"><%= recipe.name %></p>
                </div>
            </a>
        </div>
        <% }) %>
        <% } else {%>
            <p>No items found</p>
            <% } %>
    </div>
</section>

<!-- indian section -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Indian Recipes</h2>
        <a href="/categories/Indian" class="ms-auto latest-link">View More</a>
    </div>

    <div class="row">


        <% if(typeof food.indian!='undefined' && food.indian.length>0){ %>
            <% food.indian.forEach(recipe=>{ %>
        <div class="card col-lg-2 category-card" style="width: 14rem; padding: 10px;">
            <a href="/recipe/<%= recipe._id %>" class="latest-link">
                <img src="/uploads/<%= recipe.image %>" class="card-img-top latest-img--large" alt="recipe.name">
                <div class="card-body">
                    <p class="card-text"><%= recipe.name %></p>
                </div>
            </a>
        </div>
        <% }) %>
        <% } else {%>
            <p>No items found</p>
            <% } %>
    </div>
</section>

<!--mexican section  -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Mexican Recipes</h2>
        <a href="/categories/Mexican" class="ms-auto latest-link">View More</a>
    </div>

    <div class="row">
        <% if(typeof food.mexican!='undefined' && food.mexican.length>0){ %>
            <% food.mexican.forEach(recipe=>{ %>
        <div class="card col-lg-2 category-card" style="width: 14rem; padding: 10px;">
            <a href="/recipe/<%= recipe._id %>" class="latest-link">
                <img src="/uploads/<%= recipe.image %>" class="card-img-top latest-img--large" alt="recipe.name">
                <div class="card-body">
                    <p class="card-text"><%= recipe.name %></p>
                </div>
            </a>
        </div>
        <% }) %>
<% } else {%>
    <p>No items found</p>
    <% } %>
    </div>
</section>




<!-- submit section -->
<section class="px-4 py-5 my-5 text-center">
    <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">Publish your recipe for FREE today</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Publish your Recipe in front of thousands of people for free.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/submit-recipe" class="btn btn-random btn-lg">Submit Recipe</a>
      </div>
    </div>
  </section>
   